.space{
    margin-right: 10px;
}
.colorNavbar{
    background-color: #9fcdff;
}
.textColor{
    color: #defdff;
}
.align{
    margin-right: 0px;
}

.sizeImage {
    border: 2px solid black;
    padding: 25px;
    background: url(Photo.JPG);
    background-repeat: no-repeat;
    background-size: 200px 240px;
}
.bord{
    border: white;
}
.alignement{
    margin-left: 5px;
}
.aligneInformation{
    margin-left: 15%;

}

.aligneInformationTitre{
    margin-left:0%;

}

.competence{
    margin-left: 15%;
}

hr {
    display: block;
    background-color: #9fcdff;
    margin-left: 0%;
    margin-right: 36%;
    border-style: inset;
    border-width: 2px;
}
.listeStyle{
    list-style: none;
}

.alignHead{
    margin-top: 4%;
}